################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/08dee017-4c7b-4b49-9f7d-d83686ba435f.vsidx
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/22925c0e-54ef-4226-9010-d058d59b5f22.vsidx
